<h3 class="display-4">Login</h3>
<form id="login-form">
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Username" id="login-username" required>
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" placeholder="Password" id="login-password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login!</button>
</form>
<script src="/js/login.js"></script>
