<h3 class="display-4">Signup</h3>
<form id="signup-form">
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Username" id="signup-username" required>
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" placeholder="Password" id="signup-password" required>
  </div>
  <button type="submit" class="btn btn-primary">Signup!</button>
</form>

<script src="/js/signup.js"></script>